<%= div_for task do %>
<% if task.completed.nil? %>
    <%= check_box_tag( "task_#{task.name.gsub(" ", "")}", task.id, false, class: "complete_check") %>
<% end %>
 <%= link_to task.name, [@project, task] %>
 <%= link_to "Show Subtasks", [@project, task], remote: true %>
<div class="subtasks" style="padding-left: 10px;">
</div>
<% end %>
